<!-- testimonial area start -->
<section class="testimonial-area testimonial-bg padding-top-110 padding-bottom-120" id="testimonial">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center white"><!-- section title -->
                    <h2 class="title">What users Says</h2>
                    <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor  tempor incididunt ut labore et dolore </p>   
                </div><!-- //. section title -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-carousel">
                   <div class="single-testimonial-item"><!-- single testimonial item -->
                        <div class="description">
                                They  provide innovative solutions with the best.  tempor incididunt utla bore et dolor  tempor incididunt .
                        </div>
                        <div class="author-meta">
                            <div class="thumb">
                                <img src="{{'01.png' | asset_url}}" alt="testimonial image">
                                <div class="icon"> <i class="fas fa-quote-left"></i> </div>
                            </div>
                            <div class="content">
                                <h4 class="name">Mark Anthony</h4>
                                <span class="post">Director</span>
                            </div>
                        </div>
                   </div><!-- //. single tesitmonial item -->
                   <div class="single-testimonial-item"><!-- single testimonial item -->
                        <div class="description">
                                They  provide innovative solutions with the best.  tempor incididunt utla bore et dolor  tempor incididunt .
                        </div>
                        <div class="author-meta">
                            <div class="thumb">
                                <img src="{{'02.png' | asset_url}}" alt="testimonial image">
                                <div class="icon"> <i class="fas fa-quote-left"></i> </div>
                            </div>
                            <div class="content">
                                <h4 class="name">Mark Anthony</h4>
                                <span class="post">Director</span>
                            </div>
                        </div>
                   </div><!-- //. single tesitmonial item -->
                   <div class="single-testimonial-item"><!-- single testimonial item -->
                        <div class="description">
                                They  provide innovative solutions with the best.  tempor incididunt utla bore et dolor  tempor incididunt .
                        </div>
                        <div class="author-meta">
                            <div class="thumb">
                                <img src="{{'03.png' | asset_url}}" alt="testimonial image">
                                <div class="icon"> <i class="fas fa-quote-left"></i> </div>
                            </div>
                            <div class="content">
                                <h4 class="name">Mark Anthony</h4>
                                <span class="post">Director</span>
                            </div>
                        </div>
                   </div><!-- //. single tesitmonial item -->
                   <div class="single-testimonial-item"><!-- single testimonial item -->
                        <div class="description">
                                They  provide innovative solutions with the best.  tempor incididunt utla bore et dolor  tempor incididunt .
                        </div>
                        <div class="author-meta">
                            <div class="thumb">
                                <img src="{{'04.png' | asset_url}}" alt="testimonial image">
                                <div class="icon"> <i class="fas fa-quote-left"></i> </div>
                            </div>
                            <div class="content">
                                <h4 class="name">Mark Anthony</h4>
                                <span class="post">Director</span>
                            </div>
                        </div>
                   </div><!-- //. single tesitmonial item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial area end -->