<style>
  #slider,
  #slider1,
  #slider2 {
    position: relative;
    width: 300px;
    height: 100px;
    line-height: 50px;
    border: 3px solid black;
    text-align: center;
    background-color: black;
    color: wheat;
    overflow: hidden;
  }

  /*
#slide1, #slide2, #slide3, #slide4, #slide5{
display: none;
}
*/

  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes shake {
    0% {
      position: absolute;
      background-color: black;
      color: white;
      left: 0px;
    }
    25% {
      background-color: black;
      color: white;
      left: -300px;
    }
    50% {
      background-color: white;
      color: black;
      left: 300px;
    }
    100% {
      background-color: black;
      color: wheat;
      left: 0px;
    }
  }

  @keyframes zoom {
    0% {
      background-color: black;
      color: white;
      left: 145px;
      top: 45px;
      width: 0px;
      height: 0px;
      font-size: 9pt;
      overflow: hidden;
    }
    50% {
      background-color: white;
      color: black;
      left: 0px;
      top: 0px;
      width: 300px;
      height: 150px;
      font-size: 20pt;
      overflow: hidden;
    }
    100% {
      background-color: black;
      color: wheat;
      left: 0px;
    }
  }

  @keyframes flip {
    0% {
      background-color: black;
      color: black;
      opacity: 1;
      overflow: hidden;
    }
    50% {
      background-color: white;
      color: white;
      opacity: 1;
      width: 1px;
      left: 150px;
      overflow: hidden;
    }
    100% {
      opacity: 1;
      background-color: black;
    }
  }

  .hide {
    display: none;
  }
  .show {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100px;
    text-align: center;
    display: block;
    animation-name: flip;
    animation-duration: 3s;
  }
</style>

<div id="slider">
  <div id="slide1">
    <h1>Slide 1 View</h1>
  </div>
  <div id="slide2">
    <h1>Slide 2 View</h1>
  </div>
  <div id="slide3">
    <h1>Slide 3 View</h1>
  </div>
  <div id="slide4">
    <h1>Slide 4 View</h1>
  </div>
  <div id="slide5">
    <h1>Slide 5 View</h1>
  </div>
  <div id="slide6">
    <h1>Slide 6 View</h1>
  </div>
  <div id="slide7">
    <h1>Slide 7 View</h1>
  </div>
  <div id="slide8">
    <h1>Slide 8 View</h1>
  </div>
</div>
<button id="prev">Previous</button> || <button id="next">Next</button>

<div id="slider2">
  <div>
    <h1>Onther 1</h1>
  </div>
  <div>
    <h1>Onther 2</h1>
  </div>
  <div>
    <h1>Onther 3</h1>
  </div>
</div>

<div id="slider1">
  <div>
    <h1>Onther 1</h1>
  </div>
  <div>
    <h1>Onther 2</h1>
  </div>
  <div>
    <h1>Onther 3</h1>
  </div>
</div>

<!-- scripts  -->

<script>
  window.onload = function () {
    Effectto("slider", 5, "flip", "2s");
    Effectto("slider1", 5, "shake", "2s");
    Effectto("slider2", 5, "zoom", "2s");
  };
  // Effectto is a javascript function
  function Effectto(slider, duration, amin, animTime) {
    // Variable Initializations
    // We can modify here.

    var sliderId = slider || "slider";
    var current = 1;
    var time = duration || 5;
    var effect = amin || "show";
    var effectTime = animTime || "1s";
    var prevId = "prev";
    var nextId = "next";
    ////////////////////////////////////////////
    // Total No of Slides And Button Id Initializations
    var count = document.getElementById(sliderId).childElementCount;

    var prev = document.getElementById(prevId);
    var next = document.getElementById(nextId);
    ////////////////////////////////////////

    // Fuction Creation and Event Handleing

    prev.addEventListener("click", prevAction);
    next.addEventListener("click", nextAction);

    function hideAll() {
      for (var i = 1; i <= count; i++) {
        var id = "slide" + i;
        var slide = document.getElementById(sliderId).children[i - 1];
        slide.className = "hide";
      }
    }

    function show(no, name, duretion) {
      hideAll();
      var slide = document.getElementById(sliderId).children[no - 1];
      slide.className = "show";
      slide.style.animationName = name;
      slide.style.animationDuration = duretion;
    }

    function prevAction() {
      if (current <= 1) {
        current = count;
      } else {
        current--;
      }
      show(current, effect, effectTime);
    }

    function nextAction() {
      if (current >= count) {
        current = 1;
      } else {
        current++;
      }
      show(current, effect, effectTime);
    }

    // First Time Init
    show(current, effect, effectTime);

    // Auto Slide Mode
    setInterval(function auto() {
      if (current >= count) {
        current = 1;
      } else {
        current++;
      }
      show(current, effect, effectTime);
    }, 1000 * time);

    //console.log(count);
    //var slide = document.getElementById("slider");
    //
    console.log(sliderId);
    //console.log(current);
  }
</script>
