<!-- list feature area start -->
<section class="list-feature-area padding-top-110 padding-bottom-115">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content-area">
                    <div class="img-wrap">
                        <img src="{{'list-feature-image.png' | asset_url}}" alt="list feature">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content-area">
                    <h3 class="title">More then watch that fill your needs in time</h3>
                    <div class="list-feature-wrap"><!-- list feature wrap -->
                        <ul>
                            <li>
                                <div class="single-list-feature-item">
                                    <div class="icon">
                                        <i class="flaticon-alarm-clock"></i>
                                    </div>
                                    <div class="content">
                                        <h4 class="title">Alarm Counter</h4>
                                        <p> Intention age nay otherwise but breakfast. Around garden beyond to extent by. </p>   
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-list-feature-item">
                                    <div class="icon">
                                        <i class="flaticon-chat-1"></i>
                                    </div>
                                    <div class="content">
                                        <h4 class="title">Live Chat</h4>
                                        <p> Intention age nay otherwise but breakfast. Around garden beyond to extent by. </p>   
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-list-feature-item">
                                    <div class="icon">
                                        <i class="flaticon-heart"></i>
                                    </div>
                                    <div class="content">
                                        <h4 class="title">Heartbeat Check</h4>
                                        <p> Intention age nay otherwise but breakfast. Around garden beyond to extent by. </p>   
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-list-feature-item">
                                    <div class="icon">
                                        <i class="flaticon-route"></i>
                                    </div>
                                    <div class="content">
                                        <h4 class="title">Location Trace</h4>
                                        <p> Intention age nay otherwise but breakfast. Around garden beyond to extent by. </p>   
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- //. list feature wrap -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- list feature area end -->