<!-- inline feature area start -->
<div class="inline-feature-area padding-top-120" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inline-feaure-wrap"><!-- inline feature wrap -->
                    <ul>
                        <li>
                            <div class="single-inline-feature-item"><!-- single inline-feature-item -->
                                <div class="icon">
                                    <i class="flaticon-chat"></i>   
                                </div>
                                <div class="content">
                                    <a href="#"><h4 class="title">Live Chat</h4></a>
                                    <p>Fat decisively pursuit regular so calling. West he plan girl been my then up no. </p>   
                                </div>
                            </div><!-- //. single inline feature item -->
                        </li>
                        <li>
                            <div class="single-inline-feature-item"><!-- single inline-feature-item -->
                                <div class="icon">
                                    <i class="flaticon-value"></i>   
                                </div>
                                <div class="content">
                                    <a href="#"><h4 class="title">Easy Configure</h4></a>
                                    <p>Fat decisively pursuit regular so calling. West he plan girl been my then up no. </p>   
                                </div>
                            </div><!-- //. single inline feature item -->
                        </li>
                        <li>
                            <div class="single-inline-feature-item"><!-- single inline-feature-item -->
                                <div class="icon">
                                    <i class="flaticon-rocket"></i>   
                                </div>
                                <div class="content">
                                    <a href="#"><h4 class="title">User Friendly</h4></a>
                                    <p>Fat decisively pursuit regular so calling. West he plan girl been my then up no. </p>   
                                </div>
                            </div><!-- //. single inline feature item -->
                        </li>
                        <li>
                            <div class="single-inline-feature-item"><!-- single inline-feature-item -->
                                <div class="icon">
                                    <i class="flaticon-shield"></i>   
                                </div>
                                <div class="content">
                                    <a href="#"><h4 class="title">High Security</h4></a>
                                    <p>Fat decisively pursuit regular so calling. West he plan girl been my then up no. </p>   
                                </div>
                            </div><!-- //. single inline feature item -->
                        </li>
                    </ul>
                </div><!-- //. inline feature warp -->
            </div>
        </div>
    </div>
</div>
<!-- inline feature area end -->